$cardwidth: clamp(12em, 12vw + 10em, 16em);

.whistlist-control {
  padding: 2em;
  button {
    position: absolute;
    right: 0;
    top: 4em;
    border: none;
    outline: none;
    margin-right: 0.7em;
    padding: 0.4em 0.8em;
    background-color: white;
    font-size: var(--fs-n);
    border-radius: 0.2em;
    cursor: pointer;
  }
}
.whislistBox {
  position: absolute;
  inset: 0;
  margin-top: 10em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cardwidth, 1fr));
  grid-template-rows: clamp(18em, 24em + 5vw, 24em);
  gap: 1em;

  .card {
    height: clamp(18em, 24em + 5vw, 24em);
    z-index: 22;
    position: relative;
    border-radius: 0.25em;
    overflow: hidden;
    transition: transform 0.3s ease;
    &:is(:hover, :active) {
      transform: scale(1.05);
    }

    .delIcon {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      background-color: white;
      background-color: rgba(black, 0.2);
      cursor: pointer;

      .icon {
        font-size: var(--fs-xl);
      }
    }
  }
}

.noList {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 400px) {
  .whislistBox {
    grid-template-rows: 22em !important;
    grid-template-columns: repeat(auto-fill, min(45vw, 18em));

    .card {
      height: 22em !important;
    }

    .delIcon {
      .icon {
        font-size: var(--fs-s);
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 401px) {
  $cardwidth: clamp(12em, 10em + 10vw, 15em);
  .whislistBox {
    grid-template-columns: repeat(
      auto-fill,
      minmax($cardwidth, 1fr)
    ) !important;
    grid-template-rows: 25em !important;
    .card {
      height: clamp(18em, 18em + 20vw, 25em) !important;
    }
  }
}
