.forgotPassword {
  min-height: 100vh;
  display: grid;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  place-items: center;

  img {
    position: absolute;
    z-index: -99;
    transform: scale(1.6);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60% 10em;
  }
  .signIn {
    z-index: 9999;
    line-height: 5.3em;
    position: absolute;
    right: 1%;
    top: 0;
    padding: 0.2em;
    a {
      font-size: calc(var(--fs-n) + 0.3rem);
      color: red;
      font-weight: bold;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 1%;
        height: 1px;
        width: 100%;
      }
      &:hover::after {
        background-color: red;
      }
    }
  }

  .Form {
    background-color: #f3f3f3;
    width: 40em;
    padding: 3em;
    z-index: 1;
    color: rgba(black, 0.8);
    border-radius: 0.1em;

    .error {
      color: red;
      font-size: var(--fs-n);
      text-align: center;
      padding: 0.3em;
      border: solid red 1px;
    }
    .shake {
      animation-name: shake-horizontal;
      animation-duration: 100ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: linear;
    }

    @keyframes shake-horizontal {
      2% {
        transform: translate(0px, 0) rotate(0);
      }
      4% {
        transform: translate(-9px, 0) rotate(0);
      }
      6% {
        transform: translate(9px, 0) rotate(0);
      }
      8% {
        transform: translate(1px, 0) rotate(0);
      }
      10% {
        transform: translate(7px, 0) rotate(0);
      }
      12% {
        transform: translate(7px, 0) rotate(0);
      }
      14% {
        transform: translate(7px, 0) rotate(0);
      }
      16% {
        transform: translate(-5px, 0) rotate(0);
      }
      18% {
        transform: translate(3px, 0) rotate(0);
      }
      20% {
        transform: translate(-2px, 0) rotate(0);
      }
      22% {
        transform: translate(-8px, 0) rotate(0);
      }
      24% {
        transform: translate(-5px, 0) rotate(0);
      }
      26% {
        transform: translate(-6px, 0) rotate(0);
      }
      28% {
        transform: translate(-6px, 0) rotate(0);
      }
      30% {
        transform: translate(2px, 0) rotate(0);
      }
      32% {
        transform: translate(-6px, 0) rotate(0);
      }
      34% {
        transform: translate(-6px, 0) rotate(0);
      }
      36% {
        transform: translate(1px, 0) rotate(0);
      }
      38% {
        transform: translate(-3px, 0) rotate(0);
      }
      40% {
        transform: translate(-3px, 0) rotate(0);
      }
      42% {
        transform: translate(1px, 0) rotate(0);
      }
      44% {
        transform: translate(-5px, 0) rotate(0);
      }
      46% {
        transform: translate(-2px, 0) rotate(0);
      }
      48% {
        transform: translate(-3px, 0) rotate(0);
      }
      50% {
        transform: translate(1px, 0) rotate(0);
      }
      52% {
        transform: translate(1px, 0) rotate(0);
      }
      54% {
        transform: translate(5px, 0) rotate(0);
      }
      56% {
        transform: translate(-3px, 0) rotate(0);
      }
      58% {
        transform: translate(3px, 0) rotate(0);
      }
      60% {
        transform: translate(-8px, 0) rotate(0);
      }
      62% {
        transform: translate(-5px, 0) rotate(0);
      }
      64% {
        transform: translate(-3px, 0) rotate(0);
      }
      66% {
        transform: translate(-3px, 0) rotate(0);
      }
      68% {
        transform: translate(-6px, 0) rotate(0);
      }
      70% {
        transform: translate(-4px, 0) rotate(0);
      }
      72% {
        transform: translate(-4px, 0) rotate(0);
      }
      74% {
        transform: translate(-4px, 0) rotate(0);
      }
      76% {
        transform: translate(7px, 0) rotate(0);
      }
      78% {
        transform: translate(-5px, 0) rotate(0);
      }
      80% {
        transform: translate(10px, 0) rotate(0);
      }
      82% {
        transform: translate(-3px, 0) rotate(0);
      }
      84% {
        transform: translate(-3px, 0) rotate(0);
      }
      86% {
        transform: translate(-4px, 0) rotate(0);
      }
      88% {
        transform: translate(-5px, 0) rotate(0);
      }
      90% {
        transform: translate(5px, 0) rotate(0);
      }
      92% {
        transform: translate(1px, 0) rotate(0);
      }
      94% {
        transform: translate(4px, 0) rotate(0);
      }
      96% {
        transform: translate(-8px, 0) rotate(0);
      }
      98% {
        transform: translate(-3px, 0) rotate(0);
      }
      0%,
      100% {
        transform: translate(0, 0) rotate(0);
      }
    }

    h1 {
      font-size: var(--fs-l);
      font-weight: 400;
      margin: 0.5em 0;
    }

    input {
      width: 100%;
      font-size: var(--fs-n);
      outline: none;
      border: solid gray 1px;
      color: black;
      padding: 0.2em 1em;
      margin: 1em 0;
      line-height: 2.5em;

      &:autofill {
        background: #333333;
      }

      &:invalid[focused="true"] {
        margin: 0;
        border: solid red 1px;
      }

      &:invalid[focused="true"] ~ span {
        display: block;
      }

      &:last-child:invalid[focused="true"] {
        margin-bottom: 1em;
      }
    }
    .passErr {
      border: solid red 1px;
      margin-bottom: 0.3em;
    }
    .passErrMsg {
      color: red;
      margin-bottom: 1em;
      font-size: clamp(11px, 12px, 13px);
    }
    span {
      display: none;
      margin: 0.2em 0 1em 0;
      color: red;
      font-size: clamp(11px, 12px, 13px);
    }

    button {
      width: 100%;
      font-size: calc(var(--fs-n) + 0.4rem);
      padding: 14px 2em;
      min-width: 112px;
      min-height: 48px;
      color: #fff;
      background-color: #0080ff;
      background-image: linear-gradient(to bottom, #0080ff, #0277ec);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
      line-height: 1em;
      vertical-align: middle;
      cursor: pointer;
      font-weight: 400;
      letter-spacing: 0.1px;
      border-radius: 0.1em;
      text-align: center;
      border: 0;

      &:is(:focus, :active) {
        filter: brightness(120%);
        box-shadow: 2px 2px #313131;
      }
    }
  }
}

@media screen and(max-width:1023px) {
  .forgotPassword {
    img {
      object-position: 90% 10em;
    }
  }
}

@media screen and (max-width: 400px) {
  .Form {
    width: 95vw !important;
  }
}
